<div class="topbar">
  <div style="text-align:center; margin-top:4%;margin-left: -251px;background-color: #f1f1f1;">
    <span class="titleNumber">Pending Rentals for Approval </span>
    <span class="dot">300</span>
  </div>
</div>
<div style="position:fixed;height: 100vh;width: 20%;size: 50%; margin: auto; float: left;">
  <ul>
    <li id="userTitle"><a class="active" href="#home">Users</a></li>
    <li class="user"><a href="#news">Administrators</a>
    </li>
    <li class="user"><a href="#contact">Service Providers</a></li>
    <li class="user"><a href="#about">Customers</a></li>
  </ul>
</div>

<div style="display: inline; margin: auto; text-align: center;">
  <div style="background-color:#f1f1f1 ;height: 120px;width: 40%; margin: auto; float: right;">afd</div>

  <div style="border-right-color: rgb(55, 127, 175);background-color:#f1f1f1 ;height: 120px;width: 40%; margin: auto; float: right;">afd</div>
</div>

<div style="border-right-color: rgb(55, 127, 175);background-color:rebeccapurple ;height: 100vh;width: 40%; margin: auto; float: right;">
  <div style="text-align:center; margin-top:4%;margin-left: 5px;background-color: #f1f1f1;width: 300px;">
    <span class="titleNumber">Pending Rentals for Approval </span>
    <span class="notdot">APPROVE</span>
    <span class="notdot">REJECT</span>

  </div>

</div>
<!-- <div style="border-right-color: rgb(55, 127, 175);background-color:rgb(51, 153, 59) ;height: 100vh;width: 40%; margin: auto; float: right;">afd</div> -->

<div style="background-color:white;width: 100%;position:fixed;bottom: 0px;text-align: center;">
  <img src="../../../../assets/img2.PNG" style="height: 300px;margin-left: 5%;margin-bottom: 1%;">
</div>
