<div class="topbar">
  <div style="text-align:center; margin-top:4%;margin-left: -251px;background-color: #f1f1f1;">
    <span class="titleNumber">Pending Rental Approvals </span>
    <span class="dot">300</span>
  </div>
</div>
<div style="position:fixed;height: 100vh;width: 20%;size: 50%; margin: auto; float: left;">
  <ul>
    <li id="userTitle"><a class="active" href="#home">SPACES</a></li>
    <li class="user"><a href="#news">Administrators</a>
    </li>
    <li class="user"><a href="#contact">Service Providers</a></li>
    <li class="user"><a href="#about">Customers</a></li>
  </ul>
</div>

<div style="display: inline; margin: auto; text-align: center;">
  <div style="background-color:#f1f1f1 ;height: 120px;width: 40%; margin: auto; float: right;"></div>

  <div style="border-right-color: rgb(55, 127, 175);background-color:#f1f1f1 ;height: 120px;width: 40%; margin: auto; float: right;"></div>
</div>

<div style="border-right-color: rgb(55, 127, 175);background-color:rebeccapurple ;height: 100vh;width: 40%; margin: auto; padding-top:40px; float: right;">
  <div style="text-align:center; margin-top:1%;margin-left: 20%;background-color: #f1f1f1;width: 300px;">
    <span class="titleNumber active">DIVERSITY AT ITS BEST </span>
    <span class="notdot">SPA</span>
    <span class="notdot">CES</span>

  </div>



<div style="font-size:190px;color:white;display: inline"> <img src="../../../../assets/sd2.PNG" style="height: 200px;margin-left: 25%;margin-bottom: 15%;">
</div>


</div>

<div style="border-right-color: rgb(55, 127, 175);background-color:white ;height: 100vh;width: 40%; margin: auto; float: right;">

  <div class="myContainer" style="overflow: hidden;">
    <div class="media" style="border-bottom: solid 2px #337ab7">
      <div class="media-left media-middle media-content" style="text-align: center; background-color: #1fc8db;
            background-image: linear-gradient(141deg, lightblue 0%, #1fc8db 51%, #2cb5e8 75%); font-weight: bolder; opacity:0.5; color:rgba(0,0,0,1)">
        <span>Utopia Park</span>
      </div>
      <div class="media-body">
        <button class="btn btn-primary" style="padding: 1%; margin:1%;">Approve</button>
        <button class="btn btn-primary" style="padding: 1%; margin:1%;">Deny</button>
      </div>
    </div>
    <div class="small" style="overflow:hidden; text-align: justify; font-family: Helvetica">{{"This is a
      description This is a description This is a
      description This is a description This is a description This is a description This is a description This is a
      description This is a description asdsad asd asd a deusdedit "}}</div>
  </div>

  <div class="myContainer" style="overflow: hidden;">
    <div class="media" style="border-bottom: solid 2px #337ab7">
      <div class="media-left media-middle media-content" style="text-align: center; background-color: #1fc8db;
            background-image: linear-gradient(141deg, lightblue 0%, #1fc8db 51%, #2cb5e8 75%); font-weight: bolder; opacity:0.5; color:rgba(0,0,0,1)">
        <span>Utopia Park</span>
      </div>
      <div class="media-body">
        <button class="btn btn-primary" style="padding: 1%; margin:1%;">Approve</button>
        <button class="btn btn-primary" style="padding: 1%; margin:1%;">Deny</button>
      </div>
    </div>
    <div class="small" style="overflow:hidden; text-align: justify; font-family: Helvetica">{{"This is a
      description This is a description This is a
      description This is a description This is a description This is a description This is a description This is a
      description This is a description asdsad asd asd a deusdedit "}}</div>
  </div>



</div>

<!-- <div style="border-right-color: rgb(55, 127, 175);background-color:rgb(51, 153, 59) ;height: 100vh;width: 40%; margin: auto; float: right;"></div> -->

<div style="background-color:white;width: 100%;position:fixed;bottom: 0px;text-align: center;">
  <img src="../../../../assets/img2.PNG" style="height: 300px;margin-left: 5%;margin-bottom: 1%;">
</div>


<!--
<div style="overflow: hidden">
  <div class="media" style="border-bottom: solid 2px #337ab7">
    <div class="media-left media-middle media-content" style="text-align: center; background-color: #1fc8db;
    background-image: linear-gradient(141deg, lightblue 0%, #1fc8db 51%, #2cb5e8 75%); font-weight: bolder; opacity:0.5; color:rgba(0,0,0,1)">
      <span>Utopia Park</span>
    </div>
    <div class="media-body">
      <button class="btn btn-primary" style="padding: 1%; margin:1%;">Approve</button>
      <button class="btn btn-primary" style="padding: 1%; margin:1%;">Deny</button>
    </div>
  </div>
  <div class="small" style="width: 300px; overflow:hidden; text-align: justify; font-family: Helvetica">{{"This is a
    description This is a description This is a
    description This is a description This is a description This is a description This is a description This is a
    description This is a description asdsad asd asd a deusdedit "}}</div>
</div>

-->
