<div class="main-component">
    <div class="search input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input id="search" type="text" class="form-control" name="search" placeholder="Search">
    </div>

    <div class="container">
        
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Name of Listing
                </div>
                <image-carousel></image-carousel>
                <div>
                    <span>Price: $Price </span>
                    <button type="button" class="btn btn-success">Reserve</button>
                </div>
        
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Name of Listing
                </div>
                <image-carousel></image-carousel>
                <div>
                    <span>Price: $Price </span>
                    <button type="button" class="btn btn-success">Reserve</button>
                </div>
        
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Name of Listing
                </div>
                <image-carousel></image-carousel>
                <div>
                    <span>Price: $Price </span>
                    <button type="button" class="btn btn-success">Reserve</button>
                </div>
        
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Name of Listing
                </div>
                <image-carousel></image-carousel>
                <div>
                    <span>Price: $Price </span>
                    <button type="button" class="btn btn-success">Reserve</button>
                </div>
        
            </div>
        </div>

    </div>

    <div class="centered">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>
