<!-- <div class="main-component">
  <div class="search input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input id="search" type="text" name="search" placeholder="Search">
  </div> -->

<div class="container">

  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">

        <h6> 1000N 4th Stree, Fairfield. IA</h6>
      </div>
      <image-carousel></image-carousel>
      <div>
        <div style="text-align: center;background-color: rgb(91, 168, 91)"> <button type="button" class="btn btn-success">Approve</button>
          <button type="button" class="btn btn-success">Reject</button></div>

      </div>

    </div>
  </div>


</div>
