.btn{
    margin-left: 10px;
  }

  a {
    font-family: Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif !important;
  
    font-size: 24px !important;
    font-weight: 800 !important;

  }