<div class="container">
        <h3>Add New House</h3>
        <div class="row">
          <div class="col-md-4">
            <form (ngSubmit)="addHome()" #houseForm="ngForm">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" [(ngModel)]="house.Name" name="Name" required>
              </div>
              <div class="form-group">
                <label for="name">Address:</label>
                <div class="form-group" id="address">
                    <label for="name">Street:</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Address.Street" name="Street" required>
                    <label for="name">City:</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Address.City" name="City" required>
                    <label for="name">State:</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Address.State" name="State" required>
                    <label for="name">Zip:</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Address.Zip" name="Zip" required>
                </div>
                
              </div>
              <div class="form-group" id="details">
                <label for="name">Details: </label>
                <div class="form-group" id="address">
                    <label for="name">Bedrooms:</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Details.Bedrooms" name="Bedrooms" required>
                    <label for="name">Bathrooms:</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Details.Bathrooms" name="Bathrooms" required>
                    <label for="name">Size (sq.ft):</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Details.Size" name="Size" required>
                    <label for="name">Price:</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Details.Price" name="Price" required>
                    <label for="name">Amenities:</label>
                    <input type="text" class="form-control" [(ngModel)]="house.Details.Amenities" name="Amenities" required>
                </div>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-success" [disabled]="!houseForm.form.valid">Add House</button>
                </div>
            </form>
          </div>
        </div>
      </div>