<div class="jumbotron">
    <div class="container">
        <h3>Profile Settings</h3>
    </div>
</div>

<div class="main"> 
    <div class="form-group">
    
        <h3>Personal Information </h3>
    
        <label>
            First: <input type="text" disabled class="form-control" />
        </label>
        <br>
        <label>
            Last: <input type="text" disabled class="form-control" />
        </label>
        <br>
        <label>
            Email: <input type="email" class="form-control" />
        </label>
        <br>
        <label>
            Phone: <input type="tel" class="form-control" />
        </label>
        <br>
    
        <h3>Address</h3>
    
        <label>
            Street: <input type="text" class="form-control" />
        </label>
        <br>
        <label>
            City: <input type="text" class="form-control" />
        </label>
        <br>
        <label>
            State: <input type="text" class="form-control" />
        </label>
        <br>
        <label>
            Zip: <input type="text" class="form-control" />
        </label>
    
        <h3>Password</h3>
    
        <label>
            Old Password: <input type="password" class="form-control" />
        </label>
        <br>
        <label>
            New Password: <input type="password" class="form-control" />
        </label>
        <br>
        <label>
            Confirm Password: <input type="password" class="form-control" />
        </label>
    </div>
    
    <button class="btn btn-success">Update</button>

</div>

