<!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8" />
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
  
  </head>

  <body>
    <div id="header">
      <div id="logout">
        Logout
      </div>

      <div id="nav">
        <span>
          <a [routerLink]="['/customers']">Customers</a>
        </span>
        <span>
          <a [routerLink]="['/providers']">Providers</a>
          </span>
        <span>
          <a [routerLink]="['/listings']"  >Listings</a></span>
      </div>

      
    </div>
    <div id="pending">
     
     <router-outlet>

      

     </router-outlet>
 
      </div>
      <div >
        <p class="listing" *ngFor="let listing of data">{{listing["Name"]}}</p>

      </div>


        

  </body>

  </html>