<div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 style="font-size: 60%;">Find rental space at {{name}} </h6>
      </div>
      <image-carousel></image-carousel>
      <div>
        <div style="text-align: center;background-color: rgb(91, 168, 91);"> <button type="button" class="btn btn-success">Reserve
            now </button>
          <!-- <button type="button" class="btn btn-success">Reject</button></div> -->

        </div>

      </div>
    </div>

    <!-- { listingId: 1, name: "Utopia Park", price: 1000, state: "Iowa", city: "Fairfield", bedrooms: 2, bathrooms: 2 }; -->

